<div class="container-fluid">
    <header class="mb-4 d-flex flex-column flex-md-row justify-content-between align-items-md-center">
        <div class="d-flex flex-column flex-md-row align-items-center">
            <h1 class="mb-0 mr-auto" [@fade]>{{ title }}</h1>
            <div *ngIf="isComponentLoad">
                <product-filter-list [productGroups]="productGroups"
                                     [brands]="brands">
                </product-filter-list>
            </div>
        </div>
        <div class="d-flex ml-auto ml-md-0">
            <button mat-button type="button"
                    class="mat-button-sm mat-button-secondary"
                    (click)="openBottomSheet()">
                <mat-icon>filter_list</mat-icon> Фильтр
            </button>

            <button mat-button type="button" class="mat-button-sm mat-button-secondary"
                (click)="export()">
                <mat-icon>cloud_download</mat-icon> Выгрузить список
            </button>
        </div>
    </header>

    <infinite-scroll (scrolled)="loadMore()" *ngIf="products.length > 0" [@fade]>
        <div class="row">
            <div *ngFor="let product of products" class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <product-preview-card [data]="product"></product-preview-card>
            </div>
        </div>

        <button *ngIf="products.length && !totalCountReached"
                mat-button
                class="mb-3 w-100"
                type="button"
                (click)="setPaginationQueryParams()"
                [disabled]="isRequesting">
            Загрузить еще
        </button>
        <span class="w-100 text-center d-block text-muted" *ngIf="totalCountReached">Больше ничего нет</span>
    </infinite-scroll>
    <span class="w-100 text-center d-block text-muted" *ngIf="!products.length">Нет данных</span>
</div>

<scroll-to-top bottom="100px"></scroll-to-top>

<floating-fab (click)="openDialogCreate()" title="Добавить товар" icon="add"></floating-fab>
