<mat-progress-bar mode="indeterminate" *ngIf="isRequesting" class="mat-progress-bar_top"></mat-progress-bar>

<h1 mat-dialog-title>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="submit()" #submitForm="ngForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" formControlName="title" />

            <mat-error *ngIf="form.get('title').errors?.required">Название обязательно</mat-error>
            <mat-error *ngIf="form.get('title').errors?.duplicateTitle">{{ validationErrors[1005] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ссылка</mat-label>
            <input matInput placeholder="Ссылка" formControlName="url" type="url" />

            <mat-error *ngIf="form.get('url').errors?.required">Ссылка обязательна</mat-error>
            <mat-error *ngIf="form.get('url').errors?.pattern">Неверная ссылка</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Категория</mat-label>
            <mat-select formControlName="usefulLinkCategoryId">
                <ng-container *ngFor="let category of categories">
                    <mat-option [value]="category.id">
                        {{ category.name }}
                    </mat-option>
                </ng-container>
            </mat-select>

            <mat-error *ngIf="form.get('usefulLinkCategoryId').errors?.required">Категория обязательна</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Краткое описание</mat-label>
            <textarea
                matInput
                placeholder="Краткое описание новости"
                formControlName="description"
                matTextareaAutosize
                matAutosizeMinRows="4"
                maxlength="256"
                #description
            ></textarea>

            <mat-hint align="end">{{ description.value.length }} / 256</mat-hint>
            <mat-error *ngIf="form.get('description').errors?.required">
                Описание обязательно
            </mat-error>
            <mat-error *ngIf="form.get('description').errors?.maxlength">
                Описание не может содержать более
                {{ form.get('description').errors.maxlength.requiredLength }}
                символов
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle labelPosition="before" formControlName="isActive" color="primary" class="mb-3"
            >Активнa
        </mat-slide-toggle>
    </div>

    <div class="d-flex">
        <button
            mat-button
            type="button"
            class="w-100 mr-3 mat-button-secondary"
            (click)="dialogRef.close()"
            [disabled]="isRequesting"
        >
            Отменить
        </button>

        <button mat-flat-button class="w-100" color="primary" type="submit" [disabled]="isRequesting">
            <mat-icon>save</mat-icon>Сохранить
        </button>
    </div>
</form>
